# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/examples/android-app/.gradle
/examples/android-app/.idea
/examples/android-app/build
/examples/android-app/local.properties
/examples/android-app/.cxx
/examples/android-app/app/build
/examples/android-app/app/.cxx
*.apk
/examples/android-app/app/release
/examples/android-app/.gradle/buildOutputCleanup
/examples/android-app/.gradle
/examples/android-app/.kotlin
/examples/android-app/.gradle
